
div {
  /*padding-left: 25px;*/
  width: 50%;
  height: 100%;
  display: inline-block;
}	

h1 {
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  font-weight: 800;
  margin: 0;
  text-align: center;
}

header {
  /*margin-top: 208px;*/
  display: block;
  margin: 3.5rem auto;
  width: 80%;
  	height: 2.5rem;
}

img {
  display: inline-block;
  /*height: 54px;*/
  /*width: 110px;*/
  height: 3rem;
}

input {
  /*display: block;*/
  font-size: 1.75em;
/*  height: 30px;*/
  /*margin-bottom: 64px;*/
 /* margin: 1.5rem auto;*/
  /*padding: 6px;
  padding-left: 8px;*/
  /*width: 449px;*/
	width: 80%;
	height: 2.5rem;
	display: block;
	margin: 2.5rem auto;
	padding-left: 0.5rem;
	/*position: relative;*/
	box-sizing: border-box;
}

::placeholder {
  color: #BBBDBF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

form {
  position: relative;
  top: 20px;
}

.enter-button {
  background-color: #FFC107;
  border: 0px;
  border-radius: 0%;
  color: #FFFFFF;
  font-size: 1.25em;
  font-weight: 800;
  /*height: 44px;*/
  letter-spacing: 0.05em;
  /*margin-bottom: 255px;*/
  /*width: 466px;*/
  width: 80%;
  display: block;
  margin: auto;
  height: 2.5rem;
}

.enter-button:hover {
  background-color: #FFD773;
}

.title2 {
  margin-left: 6px;
}


body {
  background-color: #455A64;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

article {
	background-color: #FFFFFF;
	border: 0.05rem solid #607D8B;
	width: 80%;
	height: 35%;
	display: block;
	margin: 1rem auto;
	padding: 0.25rem 0.75rem 1.5rem;
	position: relative;

}

h3 {
	font-weight: 700;
	color: #455A64;
	margin: 0;
}

article button {
	color: #455A64;
	border-top: #FFFFFF;
	border-right: #FFFFFF;
	border-bottom: solid #F2F4F4 0.05rem;
	border-left: #FFFFFF;
	padding: 0.15rem 1.15rem;
	position: absolute;
	bottom: 0.25rem;
	display: inline-block;
}

a:link {
	color: #607D8B;
	text-decoration: underline #F2F4F4;
	position: absolute;
	top: 0.7rem;
}

a:hover {
	font-weight: 800;
	text-decoration: underline #FFC107;
}

a:visited {
	text-decoration: #CFD8DC;
}

article:visited {
	background-color: #F2F4F4;
}

/*NEED HELP*/

/*article button:visited {
	font-weight: 800;
	color: #F05A28;
}*/

article button:hover {
	font-weight: 800;
	text-decoration: underline #FFC107;
}



.title-search {
	display: inline-block;
	width: 50%;
	height: 100%;
}

.bookmarks-list {
	background-color: #CFD8DC;
	display: inline-block;
	width: 50%;
	position: absolute;
}

.link-border {
	border-top: solid #CFD8DC 0.05rem;
	border-right: #FFFFFF;
	border-bottom: solid #CFD8DC 0.05rem;
	border-left: #FFFFFF;
	position: relative;
	height: 2.75rem;
	margin: 0.25rem;
	width: 98%;
}

.read-button {
	left: 0.25rem;
/*	float: left;*/
}

.delete-button {
	right: 0.25rem;
/*	float: right;*/
}